spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/public/categories/**, /api/admin/categories/**, /api/public/products/**, /api/admin/products/**, /api/products/**
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/addresses/**, /api/users/addresses/**, /api/auth/**
        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/api/carts/**, /api/cart/**
        - id: eureka-server
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/main
          filters:
            - SetPath=/
        - id: eureka-server-static
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/**

server:
  port: 8080

